<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app</title>
    </script>
</head>

<body>
    <input type="text" id="input">
    <button id="send">Send</button>
    <div class="messages"></div>
    <div class="main">
        <div class="auth">
            <div class="auth_img">
                <div class="img_at_img"></div>
            </div>
            <div class="h2_span">Авторизация</div>
            <div class="h3_span">Введите пожалуйства своё ФИО и ник для дальнейшей авторизации</div>
            <input type="text" id="auth_name" class="chat_input" name="name" placeholder="Введите свое ФИО">
            <input type="text" id="auth_nickname" class="chat_input ots" name="nickname" placeholder="Введите свой ник">
            <div class="auth_btn">Войти</div>
        </div>
        <br>
        <div class="chat_main">
            <div class="left_bar">
                <div class="left_menu">
                    <div class="left_row">
                        <div class="left_img"></div>
                        <div class="row_t_img">
                            <div class="username"></div>
                            <div class="clr_t_img">В сети</div>
                        </div>
                    </div>
                    <input type="text" class="left_search" placeholder="Найти..." />
                    <div class="userlist">
                    </div>
                </div>
            </div>
            <div class="right_bar">
                <div class="right_info">
                    <div class="span_ch">
                        Чат
                        <div class="span_ch2" id="user_num">2 участника</div>
                    </div>
                </div>
                <div class="chat_right">
                    <div class="me_sms">Херенький ХАЙ!</div>
                    <div class="for_me_sms">Сам ТАКОЙ!</div>
                </div>
                <div class="text_submit">
                    <input type="text" placeholder="Введите сообщение" class="in_mes_text">
                    <div class="button_send_mes">Отправить</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>